body {
  font-family: $body_font;
  line-height: 1.6;
}

a {
  color: $links;
  text-decoration: none;
}

.categorylinks a {
  color: $blue;
  @include mq('tablet-small') {
    margin-left: 1em;
    font-size: 0.75em;
    color: #777;
    border: 1px solid #ccc;
    padding: 0.5em;
    &:first {
      margin-left: 0;
    }
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.logo {
  display: block;
  img {
    width: 4em;
    padding-bottom: 1em;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: $headline_weight;
	font-family: $headline_font;
}

h1 {
  font-size: ms(3);
}

h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(1);
}

p, a {
  font-size: ms(0);
}

.page_name, .category_name, .project_name {
color: #444;
display: inline-block;
margin-bottom: 0.25em;
}


.project_description,
.about  {
  border-top: 1px solid $border;
  font-size: ms(1);
  color: $blue;
  @include mq('tablet-small') {
    width: 70%;
    margin: 0 auto;
  }
  @include mq('tablet-wide') {
    width: 400px;
    margin: 0;
  }
}

// no css gradients backup
.project_name h3 {
	border-bottom: 2px solid $underline;
}

h2.additional_projects_headline {
  margin-top: 0;
  font-size: ms(1);
  padding-bottom: 1em;
	border-bottom: 1px solid $coldgray;
}

.category_highlight {
	border-left: 1px solid $blue;
	padding-left: 0.3em;
}

//NAVIGATION

nav ul {
  padding: 0;
  list-style: none;
  li {
    border-bottom: 1px solid #eaeaea;
    ul li {
      border-bottom: none;
      &:first-child{
        border-top: 1px solid #aaa;
      }
      a {
        font-size: 0.9em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
      }
    }
  }
  li a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #444;
    padding-left: 1em;
    text-decoration: none;
    &:hover {
      color: #666;
    }
  }
}

.js .dropdown_menu {
  max-height: 0;
  transition: 0.6s;
  overflow: hidden;
  background-color: lighten($blue, 30%);
}

.dropdown_menu.open {
  max-height: 300px;
}

.dropdown_toggle {
  position: relative;
  color: $dropdown_toggle;
  font-weight: bold;
  p {
    margin: 0;
  }
  &[aria-expanded=false]:after {
    content: ' +';
  }
  &[aria-expanded=true]:after {
    content: ' -';
  }
}

.navbar-toggle {
  float: right;
	@include mq('tablet-wide') {
			display: none;
		}
}

.collapse .navbar-collapse {
	display: none;
	@include mq('tablet-wide') {
			display: block;
		}
}
