extends ../layouts/default

block intro
	main
		header
			h1.category_name  O mnie
		.container
			section
				p #[strong Projektant graficzny, webdesigner, kaligraf #[br] ]
				p 
					|	Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					| Ut pharetra nibh ut nisi hendrerit bibendum. 
					| Fusce faucibus elementum porta. Cras erat lectus, 
					| bibendum ornare nunc eu, vestibulum faucibus nunc. 
					| Cras feugiat, nibh et bibendum sodales, arcu velit sollicitudin dolor, 
					| ut laoreet dui purus vel sapien. Phasellus quis erat eros. 
					| Integer quis augue quam. Donec convallis eleifend nisi non tincidunt.
