extends ../layouts/default

block intro
	main
		header
			h1.category_name  O mnie
		.container
			section.about
				p 
					|	Ukończyłem studia w katowickiej Akademii Sztuk Pięknych
					| gdzie obecnie pracuję jako asystent. Zajmuję się szeroko pojętym projektowaniem graficznym. Moją pasją jest kaligrafia i
					| plakat, realizuję również projekty związane z identyfikacją wizualną i webdesignem.
