extends ../layouts/default

block intro
	main
		header
			h1.category_name  O mnie
		.container
			section.about
				p 
					|	Urodziłem się w roku 1988 w Żywcu. W roku 2013 ukończyłem studia w Akademii Sztuk Pięknych w Katowicach, gdzie pracuję obecnie jako asystent.
					| Zajmuję się szeroko pojętym projektowaniem graficznym. Moją pasją jest kaligrafia i
					| plakat, realizuję również projekty związane z identyfikacją wizualną.
					| Moje prace były wystawiane w kraju i za granicą, m. in. w Warszawie, Budapeszcie, Mińsku, Strasburgu, Charkowie, Sofii, Zilinie i Lwowie.
					| Prowadziłem warsztaty kaligraficzne w kraju (Katowice, Warszawa) i za granicą (Helsinki).
				h4 nagrody i wyróżnienia:
				ul
					li I miejsce w Międzynarodowym Konkursie na plakat FETA 2014 r.
					li Nagroda Dyrektora Muzeum Karykatury w Warszawie na międzynarodowym konkursie rysunku satyrycznego Satyrykon 2019 r.
					li Wyróżnienie na 10. Międzynarodowym Triennale Plakatu 4th Block, 2018 r.
					li II miejsce w kat. kalendarz jednoplanszowy na Międzynarodowym Konkursie na kalendarz ZoomArt 2019 r. Razem z Prof. R. Kalarusem.
					li III miejsce w kat. kalendarz wieloplanszowy na Międzynarodowym Konkursie na kalendarz ZoomArt 2017 r. Razem z Prof. R. Kalarusem.
