extends ../layouts/default
block content
	if category
		header
			h1.category_name  kategoria #[span.category_highlight=category]
	.container-fluid
		if projects.length
			.grid
				.grid-sizer
				include grid_item.pug
		else
			h3.text-muted There are no image galleries yet.
