extends ../layouts/default
block content
	if category
		h1= 'to jest widok kategorii ' + category 
	.container-fluid
		if projects.length
			.grid
				each project, index in projects
					if project.heroImage.exists
						.col-sm-4.col-md-4.gallery-image.grid-item: img(src=project._.heroImage.limit(900,900)).img-rounded
					else
						.col-sm-4.col-md-4.gallery-image : p=project.name
		else
			h3.text-muted Nie ma jeszcze projektów w tej kategorii.
