extends ../layouts/default
block content
	if category
		h1=category
	.container
		if projects.length
			.grid
				each project, index in projects
					if project.heroImage.exists
						.grid-item: img(src=project._.heroImage.limit(900,900)).img-rounded
					else
						.grid-item : p=project.name
		else
			h3.text-muted There are no image galleries yet.
