extends ../layouts/default
block content
	header
		h1.page_name  Filip Ciślak #[span.category_highlight portfolio]
	.container
		if projects.length
			.grid
				.grid-sizer
				include grid_item
		else
			h3.text-muted There are no image galleries yet.
