// PALETA
$old_tomato : #8C271E;
$tomato : #e15340;
$ivory: #CFCBCA;
$heban: #22181C;
$gray: #2d2d2d;
$coldgray: #f4f7f6;
$white: #FFF;
$blue: #567bf5;

$underline: $blue;
$links: #2d2d2d;
$page_background: $white;
$sidebar_background: $white;
$border: $blue;
$mainheader: $white;
$dropdown_toggle: $blue;
$project_info_container--border: $blue;
