$old_tomato : #8C271E;
$ivory: #CFCBCA;
$heban: #22181C;
$gray: #2d2d2d;
$white: #FFF;

$underline: $old_tomato;
$links: #2d2d2d;
$page_background: $white;
$sidebar_background: lighten($ivory, 15%);
$border: $ivory;
