//FONT FAMILIES

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,900&subset=latin-ext');

$roboto_slab: 'Roboto Slab', sans-serif;
$roboto: 'Roboto', sans-serif;
$titilium: 'Titillium Web', sans-serif;

$headline_font: $roboto;
// $headline_font: $roboto_slab;
$body_font: $roboto;

$headline_weight: bold;

//MODULAR SCALE

@import '../modularscale/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.25
);

//TODO: remove unused fonts
