.left_sidebar
	#header.clearfix
		a.logo(href='/')
			h1 Filip Ciślak
		button#toggleMenuButton.navbar-toggle.hamburger(type='button')
				span.sr-only Toggle navigation
				span.hamburger-box
					span.hamburger-inner
	nav(role="navigation" id="main_nav").navbar.navbar-default
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-left
				each link in navLinks
					if link.submenu
						li(class= 'dropdown')
							a(class='dropdown_toggle', href="#", aria-expanded='false')
								span(class='arrow_right')
								p=link.label
							ul(class='dropdown_menu' + (section == 'project' ? ' open' : ''))
								each element in link.submenu
									li 
										a(href='/kategorie/' + element.key)=element.name
					else
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
