#header {
	padding: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.content-wrapper {
	width: 100%;
}

// Grid Masonry dla projektów

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grid-item {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	@include mq('phone-wide') {
			width: 50%;
		}
	@include mq('tablet-wide') {
      width: 25%;
    }
}

.grid-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-toggle {
	display: none;
}
