html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	height: 100%;
}

.page-wrapper {
	position: relative;
	 min-height: 100%;
}

#header {
	padding: 30px;
	@include mq('tablet-wide') {
		position: fixed;
		left: 0;
		top: 0;
		width: 14%;
		height: 100%;
	}
}


#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.content-wrapper {
	@include mq('tablet-wide') {
		margin-left: 14%;
		padding: 30px 25px;
	}
	background-color: #f1f1f3;
	min-height: 100%;
}

main {
	max-width: 900px;
	margin-left: 4em;
	img {
		width: 90%;
		max-width: 800px;
		margin: 5%;
		padding: 1em;
		background-color: #fff;
		height: auto;
	}
}

// Grid Masonry dla projektów

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grid-item {
	padding: 15px;
	width: 100%;
	@include mq('phone-wide') {
			width: 50%;
		}
	@include mq('tablet-wide') {
      width: 25%;
    }
}

.grid-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project_excerpt_container {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f1f1f3;
	border: 1px solid #eee;
	display: none;
}

.project_categories {
	font-size: 0.7em;
	color: #aaa;
}

.grid-item:hover {
	.project_description_container {
		display: block;
	}
}

.navbar-toggle {
	display: none;
}
