@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  color: #030303;
  font-size: 1.3em;
}

nav ul {
  padding: 0;
  list-style: none;
  li {
        padding-top: 1em;
  }
  li a {
    color: #999;
    text-decoration: none;
    &:before {
      content: "/";
    }
  }
  .dropdown ul {
    // display: none;
  }
}
