@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  float: left;
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  color: #030303;
  h1{
      font-size: 1.8em;
  }
}

//NAVIGATION

nav ul {
  padding: 0;
  list-style: none;
  li {
    padding-top: 1em;
  }
  li a {
    color: #999;
    text-decoration: none;
    &:hover {
      color: #444;
    }
  }
}

.js .dropdown_menu {
  max-height: 0;
  transition: 0.6s;
  overflow: hidden;
  margin-left: 1em;
}

.dropdown_menu.open {
  max-height: 300px;
}

.dropdown_toggle {
  position: relative;
  p {
    margin: 0;
  }
}

.navbar-toggle {
  float: right;
	@include mq('tablet-wide') {
			display: none;
		}
}

.navbar-collapse.collapse {
	display: none;
	@include mq('tablet-wide') {
			display: block;
		}
}


.arrow_right {
  position: absolute;
  top: 0.3em;
  left: -0.7em;
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid #999;
  transition: 0.2s all;
  &.open {
    transform:rotate(90deg);
  }
}
